In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def gaussian_elimination(A, B):
    n = np.shape(A)[0]
    C = np.hstack([A, B.reshape((n, 1))]).astype(np.float64)

    for i in range(n):
        for j in range(i + 1, n):
            ratio = C[j][i] / C[i][i]
            C[j] = C[j] - ratio * C[i]

    X = C[:, n]
    X[n - 1] /= C[n - 1][n - 1]
    for i in range(n - 2, -1, -1):
        X[i] -= np.sum(C[i][i + 1:n] * X[i + 1:n])
        X[i] /= C[i][i]
    return X

In [3]:
def exercise_1(numbers):
    result = []
    for n in numbers:
        for float_type in [np.float32, np.float64]:
            A = np.array([[1 / (i + j - 1) if i != 1 else 1 for j in range(1, n + 1)] for i in range(1, n + 1)]).astype(float_type)
            X_vec = np.array([1 if i % 2 == 0 else -1 for i in range(n)]).astype(float_type)
            B = A @ X_vec
            X = gaussian_elimination(A, B)
            norm = np.linalg.norm(X_vec - X)
            result += [norm]
    df = pd.DataFrame(data={"n": numbers,
                            "float32": result[::2],
                            "float64": result[1::2]})
    return df

In [4]:
numbers = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
df_1 = exercise_1(numbers)
df_1

     n       float32       float64
0    3  3.345309e-06  0.000000e+00
1    4  6.646519e-15  3.018715e-13
2    5  3.369467e-04  9.229383e-12
3    6  5.440998e-11  3.637978e-10
4    7  2.219171e+00  1.360925e-08
5    8  1.972211e+01  1.203346e-07
6    9  4.947851e+01  5.400507e-07
7   10  1.815739e+01  1.662034e-04
8   11  1.377948e+01  1.223408e-02
9   12  4.692580e+00  1.213976e+00
10  13  8.386541e+00  2.121511e+01
11  14  5.707215e+00  2.111560e+01
12  15  1.353520e+01  1.504852e+01
13  16  4.893529e+01  2.594319e+01
14  17  8.208219e+01  2.298492e+01
15  18  7.338206e+01  2.219902e+01
16  19  9.488977e+01  8.536603e+01
17  20  2.652555e+02  8.714011e+02

In [5]:
def exercise_2(numbers):
    result = []
    for n in numbers:
        for float_type in [np.float32, np.float64]:
            A = np.zeros((n, n)).astype(float_type)
            for i in range(1, n + 1):
                for j in range(1, n + 1):
                    if j >= i:
                        A[i - 1][j - 1] = 2 * i / j
                    else:
                        A[i - 1][j - 1] = A[j - 1][i - 1]
            X_vec = np.array([1 if i % 2 == 0 else -1 for i in range(n)]).astype(float_type)
            B = A @ X_vec
            X = gaussian_elimination(A, B)
            norm = np.linalg.norm(X_vec - X)
            result += [norm]
    df = pd.DataFrame(data={"n": numbers,
                            "float32": result[::2],
                            "float64": result[1::2]})
    return df

In [6]:
numbers = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 50, 100, 200]
df_2 = exercise_2(numbers)
df_2

      n       float32       float64
0     3  6.862448e-08  3.140185e-16
1     4  4.442668e-08  2.482534e-16
2     5  1.074952e-07  4.154074e-16
3     6  1.500748e-07  9.742168e-16
4     7  2.090608e-07  1.694682e-15
5     8  1.393625e-06  4.672179e-15
6     9  1.397353e-06  3.310252e-15
7    10  1.402411e-06  3.082744e-15
8    11  1.582869e-06  4.421421e-15
9    12  4.879637e-06  1.980403e-14
10   13  5.414594e-06  2.200791e-14
11   14  5.456118e-06  2.276769e-14
12   15  5.683284e-06  2.836115e-14
13   16  8.616648e-06  3.801018e-14
14   17  8.617343e-06  3.716180e-14
15   18  8.765599e-06  3.651976e-14
16   19  8.955626e-06  3.889348e-14
17   20  1.263237e-05  3.809004e-14
18   50  1.130418e-04  3.460566e-13
19  100  9.009658e-04  2.934095e-12
20  200  5.496451e-03  2.555991e-11

In [7]:
def compare(df_1, df_2):
    df = pd.DataFrame(data={"n": df_1["n"].astype(int),
                            "Punkt 1 - float32": df_1["float32"],
                            "Punkt 2 - float32": df_2["float32"],
                            "Punkt 1 - float64": df_1["float64"],
                            "Punkt 2 - float64": df_2["float64"]})
    return df

compare_df = compare(df_1, df_2)
compare_df

,n,Punkt 1 - float32,Punkt 2 - float32,Punkt 1 - float64,Punkt 2 - float64
0,3.0,3.345309e-06,6.862448e-08,0.000000e+00,3.140185e-16
1,4.0,6.646519e-15,4.442668e-08,3.018715e-13,2.482534e-16
2,5.0,3.369467e-04,1.074952e-07,9.229383e-12,4.154074e-16
3,6.0,5.440998e-11,1.500748e-07,3.637978e-10,9.742168e-16
4,7.0,2.219171e+00,2.090608e-07,1.360925e-08,1.694682e-15
5,8.0,1.972211e+01,1.393625e-06,1.203346e-07,4.672179e-15
6,9.0,4.947851e+01,1.397353e-06,5.400507e-07,3.310252e-15
7,10.0,1.815739e+01,1.402411e-06,1.662034e-04,3.082744e-15
8,11.0,1.377948e+01,1.582869e-06,1.223408e-02,4.421421e-15
9,12.0,4.692580e+00,4.879637e-06,1.213976e+00,1.980403e-14
10,13.0,8.386541e+00,5.414594e-06,2.121511e+01,2.200791e-14
11,14.0,5.707215e+00,5.456118e-06,2.111560e+01,2.276769e-14
12,15.0,1.353520e+01,5.683284e-06,1.504852e+01,2.836115e-14
13,16.0,4.893529e+01,8.616648e-06,2.594319e+01,3.801018e-14
14,17.0,8.208219e+01,8.617343e-06,2.298492e+01,3.716180e-14
15,18.0,7.338206e+01,8.765599e-06,2.219902e+01,3.651976e-14
16,19.0,9.488977e+01,8.955626e-06,8.536603e+01,3.889348e-14
17,20.0,2.652555e+02,1.263237e-05,8.714011e+02,3.809004e-14
18,NaN,NaN,1.130418e-04,NaN,3.460566e-13
19,NaN,NaN,9.009658e-04,NaN,2.934095e-12
20,NaN,NaN,5.496451e-03,NaN,2.555991e-11

In [8]:
def norm(A):
    n = len(A)
    return max(sum(A[i][j] for j in range(n)) for i in range(n))

def create_A1(n):
    return np.array([[1 / (i + j - 1) if i != 1 else 1 for j in range(1, n + 1)] for i in range(1, n + 1)])

def create_A2(n):
    A = np.zeros((n, n))
    for i in range(1, n + 1):
        for j in range(1, n + 1):
            if j >= i:
                A[i - 1][j - 1] = 2 * i / j
            else:
                A[i - 1][j - 1] = A[j - 1][i - 1]
    return A

def conditioning_factor(A):
    A_inv = np.linalg.inv(A)
    return norm(A_inv) * norm(A)

def condition_number(numbers):
    result = []
    for n in numbers:
        con_num_1 = conditioning_factor(create_A1(n))
        con_num_2 = conditioning_factor(create_A2(n))
        result += [con_num_1, con_num_2]
    df = pd.DataFrame(data={"n":numbers,
                            "Problem 1 wskaźnik uwarunkowania":result[::2],
                            "Problem 2 wskaźnik uwarunkowania":result[1::2]})
    return df

numbers = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 20]
condition_df = condition_number(numbers)
condition_df

     n  Problem 1 wskaźnik uwarunkowania  Problem 2 wskaźnik uwarunkowania
0    3                      2.160000e+02                          1.444444
1    4                      2.880000e+03                          1.833333
2    5                      2.800000e+04                          2.233333
3    6                      2.268000e+05                          2.644444
4    7                      1.629936e+06                          3.031746
5    8                      1.286208e+07                          3.448413
6    9                      1.120002e+08                          3.849206
7   10                      8.841438e+08                          4.249206
8   11                      6.473792e+09                          4.659428
9   12                      4.407939e+10                          5.055219
10  13                      1.347671e+11                          5.465475
11  14                      2.459224e+11                          5.868898
12  15                      1.733309e+11                          6.268898
13  20                      4.003893e+11                          8.289565

In [9]:
from time import perf_counter

def thomas_algorithm(A, B):
    n = np.shape(A)[0]
    C = np.zeros(n)
    C[0] = A[0][0]

    X = np.zeros(n)
    X[0] = B[0]

    for i in range(1, n):
        ratio = A[i][i - 1] / C[i - 1]
        C[i] = A[i][i] - ratio * A[i - 1][i]
        X[i] = B[i] - ratio * X[i - 1]

    X[n - 1] = X[n - 1] / C[n - 1]
    for i in range(n - 2, -1, -1):
        X[i] = (X[i] - A[i][i + 1] * X[i + 1]) / C[i]
    return X

def exercise_3(numbers, k, m):
    result = []
    for n in numbers:
        A = np.zeros((n, n))
        for i in range(1, n + 1):
            for j in range(1, n + 1):
                if i == j:
                    A[i - 1][j - 1] = -m * i - k
                elif j == i + 1:
                    A[i - 1][j - 1] = i
                elif i > j == i - 1:
                    A[i - 1][j - 1] = m / i
        X_vec = np.array([1 if i % 2 == 0 else -1 for i in range(n)])
        B = A @ X_vec
        gaussian_start = perf_counter()
        X_gaussian = gaussian_elimination(A, B)
        gaussian_end = perf_counter()
        gaussian_time = gaussian_end - gaussian_start
        norm_gaussian = np.linalg.norm(X_vec - X_gaussian)

        thomas_start = perf_counter()
        X_thomas = thomas_algorithm(A, B)
        thomas_end = perf_counter()
        thomas_time = thomas_end - thomas_start
        norm_thomas = np.linalg.norm(X_vec - X_thomas)
        result += [norm_gaussian, norm_thomas, gaussian_time, thomas_time]
    df = pd.DataFrame(data={"n": numbers,
                            "Metoda Gaussa - błąd": result[::4],
                            "Metoda Thomasa - błąd": result[1::4],
                            "Metoda Gaussa - czas [s]": result[2::4],
                            "Metoda Thomasa - czas [s]": result[3::4]})
    return df

numbers = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 20, 30, 50, 70, 100, 150, 200, 300, 500]
df_3 = exercise_3(numbers, 4,2)
df_3

,n,Metoda Gaussa - błąd,Metoda Thomasa - błąd,Metoda Gaussa - czas [s],Metoda Thomasa - czas [s]
0,3,3.140185e-16,3.140185e-16,0.000122,0.000015
1,4,3.140185e-16,3.140185e-16,0.000129,0.000016
2,5,4.002966e-16,4.002966e-16,0.000116,0.000011
3,6,3.510833e-16,3.510833e-16,0.000116,0.000011
4,7,3.510833e-16,3.510833e-16,0.000141,0.000011
5,8,3.510833e-16,3.510833e-16,0.000180,0.000012
6,9,3.510833e-16,3.510833e-16,0.000223,0.000014
7,10,3.510833e-16,3.510833e-16,0.000209,0.000024
8,11,4.710277e-16,4.710277e-16,0.000292,0.000016
9,12,4.710277e-16,4.710277e-16,0.000186,0.000018
10,13,4.710277e-16,4.710277e-16,0.000208,0.000018
11,14,5.661049e-16,5.661049e-16,0.000460,0.000022
12,15,4.839350e-16,4.839350e-16,0.000511,0.000026
13,20,4.839350e-16,4.839350e-16,0.000447,0.000027
14,30,6.181460e-16,6.181460e-16,0.000942,0.000039
15,50,9.288792e-16,9.288792e-16,0.002457,0.000064
16,70,1.011461e-15,1.011461e-15,0.004788,0.000096
17,100,1.368775e-15,1.368775e-15,0.009787,0.000127
18,150,1.900396e-15,1.900396e-15,0.022823,0.000202
19,200,2.181242e-15,2.181242e-15,0.043799,0.000250
20,300,2.584698e-15,2.584698e-15,0.097905,0.000355
21,500,3.376612e-15,3.376612e-15,0.423278,0.000944